.logo {
    height: 80px;
    width: 150px;
    padding: 5px;
}

.header {
    background-color: darkslateblue;
    color: white;
}

.header-links {
    margin-top: 20px;
}

.header li {
    display: inline-block;
    margin-right: 10px;
}

.header a {
    color: white;
}

a {
    text-decoration: none;
}

.search-area button {
    border: 1px solid black;
    border-radius: 6px;
    padding-right: 15px ;
}

.search-area button:active {
    background-color: darkslateblue;
    color: white;
}

.search {
    background-color: #d1d2d4 ;
    border: 1px solid black;
    border-radius: 5px;

}


#filter {
    background-color: inherit;
    border-radius: 0px;
    border-width: 0px;
    padding-right: 15px ;
}

#search_input {
    background-color: inherit;
}
